body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-app-region:drag;
}

.meteo{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.label-exit{
  position: fixed;
  top: calc(100% - 15px);
  left: 8px;
  z-index: 2;
  -webkit-app-region:no-drag;
  font: 11px helvetica neue, helvetica, arial, sans-serif;
  color: white;
}
.label-exit:hover {
  color: green;
  cursor: pointer;
}
